:root {
  --default-font-size: 1.3rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  height: 100vh;
  flex-direction: column;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

h1 {
  font-size: var(--default-font-size);
}

.board-container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  width: 500px;
  height: 50vh;
  outline: 1px solid black;
}

.board-container > button {
  border: 1px solid black;
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 0;
}

.topBar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 12px;
  width: 500px;
}

button.resetButton,
button.playAgainButton {
  appearance: none;
  width: 92px;
  height: 36px;
}

.gameResult {
  height: 57px;
  /* outline: 1px solid black; */
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 12px;
}

.playBtn {
  appearance: none;
  width: 160px;
  height: 80px;
  background-color: lightblue;
}

.formDiv {
  outline: 1px solid black;
  width: 450px;
  height: 450px;
  flex-direction: column;
  gap: 8px;
  display: none;
  transition: 0.1s ease-in;
}

.playerOneInputLabel,
.playerTwoInputLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.startGameButton {
  width: 60px;
  height: 60px;
}
